*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

}
.mainbox{
   margin-top: 8vmin;
    border: 2px solid black;
    height: 90vh;
    width: 30vw;
    background-color: black;  
}